<h1>Cadastrar Funcionário</h1>
<form action="">
    <div class="input_box">
        <label for="">Nome</label>
        <input type="text" formControllName ="nome" placeholder="Digite seu nome" required>
    </div>
    
    <form action="">
        <div class="input_box">
            <label for="">E-mail</label>
            <input type="text" formControllName ="nome" placeholder="Digite seu nome" required>
        </div>

    <form action="">
        <div class="input_box">
            <label for="">Senha</label>
            <input type="text" formControllName ="nome" placeholder="Digite seu nome" required>
        </div>
        
    <div class="button-box">
        <button type="submit">Cadastrar</button>
    </div>
</form>