<h1>Cadastrar Usuario</h1>

<form [formGroup]="usuarioForm" (ngSubmit)="submit()" #formDit="ngForm">
    
    <div class="input_box">
        <label for="">Nome</label>
        <input type="text" formControlName ="name" placeholder="Digite seu nome" required>
    </div>
    
        <div class="input_box">
            <label for="">E-mail</label>
            <input type="text" formControlName ="email" placeholder="Digite seu e-mail" required>
        </div>

        <div class="input_box">
            <label for="">Senha</label>
            <input type="text" formControlName ="senha" placeholder="Digite sua senha" required>
        </div>
        
    <div class="button-box">
        <button type="submit">Cadastrar</button>
    </div>
</form>